@model TuRM.Common.ViewModels.Entity.Index
@{
    ViewBag.Title = Model.Name;
}

<h2>@Model.Name</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            @foreach (var item in Model.Collumns)
            {
                <th>
                    @if (item.GetCustomAttributes(typeof(System.ComponentModel.DataAnnotations.DisplayAttribute), true).Count() == 0)
                    {
                        @Html.Label(item.Name);
                    }
                    else
                    {
                        @Html.Label(item.Name, ((System.ComponentModel.DataAnnotations.DisplayAttribute)item.GetCustomAttributes(typeof(System.ComponentModel.DataAnnotations.DisplayAttribute), true).Single()).Name);
                    }
                </th>
            }
        </tr>
    </thead>
    <tbody>
        @*@Html.DisplayFor(i => Model.Rows, "Row", new { Collumns = Model.Collumns });*@
        @foreach (var item in Model.Rows)
            {
                <tr>
                    @Html.DisplayFor(i => item, "Row", new { Collumns = Model.Collumns });
                </tr>
            }
    </tbody>
</table>

