

/*@media (min-width: 768px){
.navbar > .container {
    width: 750px;
}*/

@media print {
    .print-headRow {
        top: -40px;
    }
    body{
        padding-left:60px;
    }
    .sign-name {
        margin-top:60px;
    }
}


.slider-handle {
    background-image: linear-gradient(to bottom,#520203 0,#621213 100%);
}

.btn-file {
    position: relative;
    overflow: hidden;
}

    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }
    
.navbar > .container > .navbar-collapse {
    background-color: #318D8A;
    border-color: #217D7A;
    border-color:#217D7A;
    border-width:0px 1px 1px 1px;
    border-style:solid;
}
.navbar > .container > .navbar-header {
    background-color: #318D8A;
    border-color: #217D7A;
    margin-left:0px;
    margin-right:0px;
    border-color:#217D7A;
    border-width:0px 1px 1px 1px;
    border-style:solid;
}
    .navbar-inverse .navbar-nav > li > a {
        color: white;
        font-weight: 600;
    }

.navbar {
 background-color:transparent;
 border-color:transparent;
}

.navbar-right {
    margin:0;
}

body {
    margin-top: 36px;
}

.left-docked {
    transform:rotate(270deg);
    margin-left:-31px;
    margin-top:31px;
}

.row-single {
    margin-top: 30px;
    margin-bottom:30px;
}