@{
    ViewBag.Title = "Startseite";
}
<style type="text/css">
    img {
        padding:20px;
    }
</style>
<div class="jumbotron">
    <h1>Portrait vom Foto</h1>
    <p class="lead">Bestellen Sie in nur wenigen Schritten ein handgezeichnetes Portrait</p>
    <p>@Html.ActionLink("Bestellprozess starten... \u00bb", "Create", "Request", null, new { @class = "btn btn-primary btn-lg" })</p>
</div>

<div class="row">
    <div class="col-md-12">
        <img src="~/Content/images/Bleistift_Portrait.jpg" width="200" alt="Bleistift Portrait" />
        <img src="~/Content/images/Buntstift_Portrait.jpg" width="200" alt="Buntstift Portrait" />
        <img src="~/Content/images/Hund_Zeichnung.jpg" height="200" alt="Buntstiftzeichnung eines Hundes" />
        <img src="~/Content/images/Pferd_Zeichnung.jpg" width="200" alt="Bleistiftzeichnung eines Pferdes" />
    </div>
</div>