
@{
    ViewBag.Title = "Anfrage erhalten";
}
<div class="container">
    <h2>Anfrage erhalten</h2>

    <p>Vielen Dank für Ihre Anfrage. Wir werden in Kürze Sie zwecks weiteren Ablaufs per Email kontaktieren.</p>

    <p>Ihr TM Porträtstudio-Team.</p>

    @Html.ActionLink("Zur Startseite", "Index", "Home")

</div>