@{
    ViewBag.Title = "Startseite";
}
<div class="jumbotron text-inverse">
    <h1>Portrait vom Foto</h1>
    <p class="lead">Bestellen Sie in nur wenigen Schritten ein handgezeichnetes Portrait</p>
    <span>@Html.ActionLink("Bestellprozess starten... \u00bb", "Create", "Request", null, new { @class = "btn btn-primary btn-lg"})</span>
</div>

<div class="row">
    <div class="col-md-12">
        <img src="http://www.tamara-rubbe.de/Data/Portraits/bild7.jpg" width="200" alt="Bleistiftzeichnung eines Babys" class="img-thumbnail"/>
        <img src="http://www.tamara-rubbe.de/Data/Portraits/bild5.jpg" width="200" alt="Bleistiftzeichnung eines jungen Mannes" class="img-thumbnail"/>
        <img src="http://www.tamara-rubbe.de/Data/Portraits/bild6.jpg" width="200" alt="Bleistiftzeichnung eines junger Frau" class="img-thumbnail" />
        <img src="http://www.tamara-rubbe.de/Data/Pictures/bild9.jpg" width="200" alt="Bleistiftzeichnung eines Pferdes" class="img-thumbnail" />
        <img src="http://www.tamara-rubbe.de/Data/Pictures/bild10.jpg" width="263" alt="Bleistiftzeichnung eines Pferdes" class="img-thumbnail" />
        <img src="http://www.tamara-rubbe.de/Data/Portraits/bild8.jpg" width="263" alt="Buntstiftzeichnung eines Paares" class="img-thumbnail" />
        <img src="http://www.tamara-rubbe.de/Data/Portraits/bild9.jpg" width="263" alt="Buntstiftzeichnung eines Paares" class="img-thumbnail" />
    </div>
</div>