@model List<TuRM.Portrait.ViewModels.Product.Product>
    @{
    ViewBag.Title = "Portrait vom Foto. Die Geschnekidee mit Errinnerungswert.";
    }

    @section Head{
    <meta name="description" content="Handgezeichnetes Portrait vom Foto. Schenken Sie Erinnerung. Portraits schon ab 60,- €" />
    <meta name="keywords" content="geschenke, geschenkideen, geschenk, geschenkidee, schenken, geschenk ideen, ausgefallene geschenke, geschenk idee">
    }
    <div class="row">
        <div class="col-xs-12">
            <img src="~/Content/images/mama.JPG" alt="Tamara Martens - Portraitstudio" class="img-responsive" />
            <div class="carousel-caption">
                <h1>Tamara Martens</h1>
                <h2>Portraitstudio</h2>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <button type="button" class="btn btn-danger btn-group-lg btn-order">Bestellen</button>
            <div class="freeStyle">
                <p>Liebevoll handgezeichnete Portraits nach Ihrer Fotovorlage!</p>
                <ul class="list-checked">
                    <li>Handgezeichnet</li>
                    <li>Individuell</li>
                    <li>Foto-realistisch</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <hr class="way" />
            <div class="img-stroke">
            </div>
            <hr class="way" />
        </div>
    </div>


    <div class="row center-block">
        <div class="col-sm-3">
            <ul>
                <li>Bleistift</li>
            </ul>
        </div>
        <div class="col-sm-3">
            <ul>
                <li>Pastel</li>
            </ul>
        </div>
        <div class="col-sm-3">
            <ul>
                <li>Buntstift</li>
            </ul>
        </div>
        <div class="col-sm-3">
            <ul>
                <li>Kohle</li>
            </ul>
        </div>
    </div>

