@model List<TuRM.Portrait.ViewModels.Product.Product>
@{
    ViewBag.Title = "Porträt vom Foto. Die Geschnekidee mit Errinnerungswert.";
}

@section Head{
    <meta name="description" content="Handgezeichnetes Porträt vom Foto. Schenken Sie Erinnerung. Portraits schon ab 60,- €" />
    <meta name="keywords" content="geschenke, geschenkideen, geschenk, geschenkidee, persoenliche geschenke, geburtstagsgeschenke, schenken, geschenke fuer maenner">
}
<div class="container">
    <a href="/Request/Create" role="button" class="btn btn-danger btn-lg left-docked hidden-xs">Bestellen &#187;</a>
    <a href="/Request/Create" role="button" class="btn btn-danger left-docked visible-xs">Bestellen &#187;</a>
    <div class="carousel-label">
        <div class="row">
            <div class="col-xs-11 col-xs-offset-1 col-sm-8 col-sm-offset-4">
                <span class="author">Tamara Martens</span>
                <ul>
                    <li>Die <u>besondere</u> Geschenkidee für Geburtstage, Hochzeiten, Weinachten, Kommunion... und viele andere Anlässe</li>
                    <li>Liebevoll <u>handgezeichnete</u> Porträts nach Ihrer persönlichen Fotovorlage</li>
                    <li><u>Detaillierte</u> und <u>sorgfälltige</u> Arbeitsweise</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <p>Sie sind auf der Suche nach einem wirklich ausgefallenen Geschenk, welches persönlicher und individueller nicht sein kann? Für Ihre Liebsten, Ihre Freunde und Bekannte? Wie wäre es mit einer Original- Porträtzeichnung?</p>
            <p>Liebevoll handgezeichnete Porträts nach Ihrer persönlichen Fotovorlage. Detaillierte und sorgfältige Arbeitsweise. Die exklusive Geschenkidee für viele Anlässe (Hochzeiten, Weinachten, Kommunion und viele andere Anlässe).</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-galery">
            <div class="galery-wrapper">
                <button class="btn btn-lg" id="previous">&lt;</button>

                <div class="galery">
                    <ul>
                        <li><img src="~/Content/images/examples/Pastelportrait1.jpg" alt="Pastelporträt" /></li>
                        <li><img src="~/Content/images/examples/Bleistiftportrait1.jpg" alt="Bleistiftporträt" /></li>
                        <li><img src="~/Content/images/examples/Buntstiftportrait2.jpg" alt="Buntstiftporträt" /></li>
                        <li><img src="~/Content/images/examples/Pastelportrait2.jpg" alt="Pastelporträt" /></li>
                        <li><img src="~/Content/images/examples/Buntstiftportrait1.jpg" alt="Buntstiftporträt" /></li>
                        <li><img src="~/Content/images/examples/Bleistiftportrait3.jpg" alt="Bleistiftporträt" /></li>
                        <li><img src="~/Content/images/examples/Bleistiftportrait4.jpg" alt="Bleistiftporträt" /></li>
                        <li><img src="~/Content/images/examples/Bleistiftportrait5.jpg" alt="Bleistiftporträt" /></li>
                        @*<li><img src="~/Content/images/examples/bild9.jpg" alt="Beispiel 9" /></li>
                        <li><img src="~/Content/images/examples/bild10.jpg" alt="Beispiel 10" /></li>*@
                        <li><img src="~/Content/images/examples/Bleistiftportrait2.jpg" alt="Bleistiftportrait" /></li>
                        <li><img src="~/Content/images/examples/Buntstiftportrait3.jpg" alt="Buntstiftporträt" /></li>
                    </ul>
                </div>

                <button class="btn btn-lg" id="next">&gt;</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h2>Der Bestellvorgang</h2>
            <p>Auf der Seite finden Sie den Punkt „Bestellen“, dort finden Sie ein Bestellformular. Füllen Sie dieses mit Ihren persönlichen Angaben und Wünschen aus. Sie können direkt Ihre zeichnende <b>Fotovorlage hochladen</b> oder mir diese per Email schicken. Beachten Sie, dass der Formular sich nur mit einem hochgeladenem Bild abschicken lässt. Die E-Mail-Adresse finden Sie unter dem Menüpunkt „Kontakt“.</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row examples-container">
        <div class="col-sm-4">
            <ul class="tabs-buttons">
                <li><button id="pastbtn" class="btn">Pastell</button></li><li>
                    <button id="buntbtn" class="btn">Buntstift</button></li><li>
                    <button id="bleibtn" class="btn">Bleistift</button></li>
            </ul>
            <ul class="tabs-content blei">
                <li id="bleiimg"><img src="~/Content/images/Bleistiftportrait.jpg" alt="Bleistiftporträt vom Foto" /></li>
                <li id="buntimg"><img src="~/Content/images/Buntstiftportrait.jpg" alt="Buntstiftporträt vom Foto" /></li>
                <li id="pastimg"><img src="~/Content/images/Pastelportrait.jpg" alt="Pastelporträt vom Foto" /></li>
            </ul>
        </div>
        <div class="col-sm-4">
            <ul class="blei">
                <li id="bleitext" class="selectedText">
                    <h2>Bleistifporträt</h2>
                    <p>Bei einer Bleistiftzeichnung arbeitet man mit Bleistiften verschiedener Grautöne.</p>
                </li>
                <li id="bunttext" class="hidden">
                    <h2>Buntstiftporträt</h2>
                    <p>Mit einer breiten Palette an farbigen Buntstiften kommt man der Vorlage erstaunlich nahe.</p>
                </li>
                <li id="pasttext" class="hidden">
                    <h2>Pastellporträt</h2>
                    <p>Leuchtende und lebendige Farben zeichnen ein Pastell-Porträt aus</p>
                </li>
            </ul>
        </div>
        <div class="col-sm-4 text-center">
            <a href="/Request/Create" role="button" class="btn btn-danger btn-lg">Bestellen &#187;</a>
        </div>
    </div>
</div>

<div class="hidden" itemscope itemtype="http://data-vocabulary.org/Product">
    <div>
        <strong>
            <span itemprop="name">Porträt vom Foto</span>
            <span itemprop="description">Liebevoll handgezeichnetes Porträt von Ihrer Fotovorlage</span>
        </strong>
    </div>
    <div itemprop="offerDetails" itemscope itemtype="http://data-vocabulary.org/Offer-Aggregate">
        <meta itemprop="currency" content="EUR" />
        <div>
            <strong>Preis ab:</strong> <span itemprop="lowPrice">60.00</span>€
        </div>
        <div>
            <strong>Bestellen unter:</strong> <span itemprop="offerURL">http://www.tm-portraits.de/Request/Create</span>
        </div>
    </div>
</div>
<script type="application/ld+json" src="~/Scripts/website.js">
</script>
<script type="application/ld+json" src="~/Scripts/product.js">
</script>
@section Scripts{
    <script type="text/javascript" src="~/Scripts/index.js" async>

    </script>
}