@model List<TuRM.Portrait.ViewModels.Product.Product>
@{
    ViewBag.Title = "Portrait vom Foto. Die Geschnekidee mit Errinnerungswert.";
}

@section Head{
    <meta name="description" content="Handgezeichnetes Portrait vom Foto. Schenken Sie Erinnerung. Portraits schon ab 60,- €" />
    <meta name="keywords" content="portrait vom foto, geschenkidee">
}



<div class="jumbotron text-inverse">
    <h1>Portrait vom Foto</h1>
    <p class="lead">Bestellen Sie in nur wenigen Schritten ein handgezeichnetes Portrait vom Ihren Foto</p>
    <span>@Html.ActionLink("Bestellprozess starten... \u00bb", "Create", "Request", null, new { @class = "btn btn-primary btn-lg" })</span>
</div>

<div class="row">
    @Html.DisplayForModel()
</div>
