
body {
    padding-top: 50px;
    padding-bottom: 20px;
    /*background-color:beige;
    color:#621213;*/
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
/*.navbar-inverse {
    background-color:#621213;
}
.navbar-inverse .navbar-nav > li > a {
    color:beige;
}

    .navbar-inverse .navbar-brand {
        color: beige;
    }

a {
    color:#892371;
}*/

/*.jumbotron {
    background-color:burlywood;
}

.text-inverse {
    color:beige;
}


.btn-primary{
    color:beige;
    background-color:#621213;
    border-color:#520203;
}*/
    .slider-handle{
    background-image:linear-gradient(to bottom,#520203 0,#621213 100%);
    }
.version {
    position:absolute;
    transform:rotate(-45deg);
    font-size:5em;
    top:300px;
    color:red;
}