

/*@media (min-width: 768px){
.navbar > .container {
    width: 750px;
}*/

@media print {
    .print-headRow {
        top: -40px;
    }

    body {
        padding-left: 60px;
    }

    .sign-name {
        margin-top: 60px;
    }
}


.slider-handle {
    background-image: linear-gradient(to bottom,#520203 0,#621213 100%);
}

.btn-file {
    position: relative;
    overflow: hidden;
}

    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }

/*h1, .h1 {
    font-size: 41px; 
}*/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-family: Britannic;
    text-transform: uppercase;
    color: #02AFB5;
    line-height: 0.6;
    padding: 10px 0px;
}

    h1 > small, h2 > small, h3 > small, h4 > small, h5 > small, h6 > small {
        color: #147179;
        font-size: 38%;
    }

.navbar {
    border-radius: unset;
    margin: 0;
    margin-left:-15px;
    margin-right:-15px;
}

.navbar-inverse {
    background-color: #02AFB5;
    border-color: #177179;
}

    .navbar-inverse .navbar-nav > li > a {
        color: white;
        font-family: Arial;
        font-size: 21px;
        font-weight: bold;
    }

.carousel-label {
    background-image: url('images/carousel.jpg');
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;
    min-height: 330.95px;
    margin-left:-15px;
    margin-right:-15px;
}

.author {
    color: white;
    font-family: Rage;
    font-style: italic;
    text-shadow: 5px 5px 5px black;
    margin-left: 30px;
    font-size: 35px;
}

.body-content > .container > a {
    /*margin-left:-15px;
    margin-right:-15px;*/
}

.carousel-label > .row > .col-xs-11 > ul > li {
    font-family: Britannic;
    color: white;
    text-wrap: normal;
    text-align: justify;
    font-size: 15px;
    padding-right: 20px;
}

    .carousel-label > .row > .col-xs-11 > ul > li > u {
        color: #90D7CF;
    }

.galery-wrapper {
    padding: 10px 20px;
    margin-left:-15px;
    margin-right:-15px;
}

    .galery-wrapper:hover {
        background-color: whitesmoke;
    }

.galery {
    overflow: hidden;
}

    .galery > ul {
        list-style-type: none;
        white-space: nowrap;
        padding: 0px;
    }

        .galery > ul > li {
            display: inline-block;
            margin: 3px;
        }

            .galery > ul > li > img {
                max-height: 66px;
                border-radius: 3px;
                border: none;
            }

.galery-wrapper > button {
    position: absolute;
    top: 38px;
    background-color: transparent;
    border: none;
    font-size: 10px;
    font-weight: bold;
    color: #02AFB5;
}

#next {
    right: 3px;
}

#previous {
    left: 3px;
    display: none;
}

.left-docked {
    position:absolute;
    transform: rotate(270deg);
    margin-left: -41px;
    margin-top: 62px;
    background-color:#E6BF98;
    text-transform:uppercase;
    border-radius:unset;
    border-color:wheat;
}

    .left-docked:hover {
        background-color:#C8A17A;
        border-color:white;
    }

@media(min-width:768px) {

    h1, .h1 {
        font-size: 61px; /*36 original*/
    }

    .carousel-label > .row > .col-sm-8 > ul > li {
        font-size: 20px;
        padding-right: 30px;
    }

    .author {
        font-size: 65px;
    }

    .galery-wrapper {
        padding: 15px 30px;
    }

    .galery > ul > li {
        margin: 5px;
    }

        .galery > ul > li > img {
            max-height: 100px;
            border-radius: 5px;
        }

    .galery-wrapper > button {
        top: 57px;
        font-size: 15px;
    }

    #next {
        right: 5px;
    }

    #previous {
        left: 5px;
    }

.left-docked {
    margin-left: -45px;
    margin-top: 62px;
}

}

@media(min-width:992px) {
    .carousel-label {
        min-height: 432.07px;
    }

        .carousel-label > .row > .col-sm-8 > ul > li {
            font-size: 30px;
            padding-right: 35px;
        }

    .author {
        font-size: 90px;
    }
    .galery-wrapper {
        padding: 30px 60px;
    }

    .galery > ul > li {
        margin: 10px;
    }

        .galery > ul > li > img {
            max-height: 200px;
            border-radius: 10px;
        }

    .galery-wrapper > button {
        top: 115px;
        font-size: 30px;
    }

    #next {
        right: 10px;
    }

    #previous {
        left: 10px;
    }
}

@media(min-width:1200px) {
    .carousel-label {
        min-height: 524px;
    }

        .carousel-label > .row > .col-sm-8 > ul > li {
            font-size: 30px;
            padding-right: 85px;
        }

    .author {
        font-size: 100px;
    }
}

.examples-container {
    background-color:#02AFB5;
}
    .examples-container > .col-sm-4 {
        min-height:200px;
    }

    .examples-container > .col-sm-4 > ul > li > h4 {
        color:#147179;
    }
.tabs-buttons {
    list-style-type:none;
    transform:rotate(270deg);
    padding:0px;
    margin:130px 0px 0px -92px;
    display:inline-flex;
    position:absolute;
}
        .tabs-buttons > li > button {
            color:white;
            text-transform:uppercase;
            font-weight:bold;
            font-size:10px;
            border-style:inset;
            border-width:medium;
        }

#bleibtn {
    background-color:#74E1E9;
    border-color:#A4FFFF;
    margin-left:-5px;
}
    #bleibtn:hover {
        background-color:#54C1C9;
    }
#buntbtn {
    background-color:#44B1B9;
    border-color:#74E1E9;
    margin-left:-5px;
}
    #buntbtn:hover {
        background-color:#249199;
    }
#pastbtn {
    background-color:#147179;
    border-color:#44B1B9;
}
    #pastbtn:hover {
        background-color:#045159;
    }
.examples-container .col-sm-4 ul {
    list-style-type:none;
}
.tabs-content {
    display:inline-flex;
    width:226px;
    min-height:300px;
    margin-top:20px;
}

    .tabs-content > li {
        position:absolute;
    }
        .tabs-content > li > img {
            border-bottom:3px solid black;
            border-right:3px solid black;
            display:inline-block;
        }

.blei > li > img {
    width:229px;
    height:265px;
}
.blei > #bleiimg {
    z-index:3;
}
.blei > #buntimg {
    z-index:2;
    margin-top:10px;
    margin-left:10px;
}

.blei > #pastimg {
    z-index:1;
    margin-top:17px;
    margin-left:17px;
}

.bunt > li > img {
    width:160px;
    height:265px;
}
.bunt > #bleiimg {
    z-index:2;
    margin-top:10px;
    margin-left:10px;
}
.bunt > #buntimg {
    z-index:3;
}

.bunt > #pastimg {
    z-index:1;
    margin-top:17px;
    margin-left:17px;
}

.past > li > img {
    width:175px;
    height:265px;
}
.past > #bleiimg {
    z-index:1;
    margin-top:17px;
    margin-left:17px;
}
.past > #buntimg {
    z-index:2;
    margin-top:10px;
    margin-left:10px;
}

.past > #pastimg {
    z-index:3;
}
.selectedText {
    display:block;
}
    .selectedText > h4 {
        text-transform:initial;
        margin-top: 40px;
        font-size:23px;
    }
    .selectedText > p {
        color:white;
        font-weight:bold;
        font-size: 17px;
    }
.examples-container > .col-sm-4 > a {
    margin-top:82px;
}

.row-single {
    margin-top: 30px;
    margin-bottom: 30px;
}
