
body {
    padding-top: 50px;
    padding-bottom: 20px;
    /*background-color:beige;
    color:#621213;*/
}
@media screen and (min-width: 750px) and (max-width: 970px) {
    body { padding-top: 101px; }
}

@media print {
    .print-headRow {
        top:-40px
    }
}
.navbar-inverse {
    background-color:#318D8A;
    border-color:#217D7A;
}
    .navbar-inverse .navbar-nav > li > a {
        color: black;
        font-weight:600;
    }

.way {
    border-color:#318D8A;
    border-width:10px;
    margin:0px;
}

.img-stroke {
    height: 251px;
    background-image: url('images/movie.jpg');
}

.list-checked {
    list-style-type:none;
}

.list-checked li:before
{
    content: '✔';   
    margin-left: 1em;
    margin-right:1em;
}
.carousel-caption {
    top:20%;
    left:10%;
    color:maroon;
    right:initial;
}

    .carousel-caption h2 {
        font-style:italic;
    }

.slider-handle {
    background-image: linear-gradient(to bottom,#520203 0,#621213 100%);
}

.freeStyle {
    float:left;
    margin:3% 10%;
}

.btn-order {
    transform:rotate(90deg);
    float:left;
    margin-left:-15px;
    margin-top:4%;
    font-size:20px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }
