

/*@media (min-width: 768px){
.navbar > .container {
    width: 750px;
}*/

@media print {
    .print-headRow {
        top: -40px;
    }
    body{
        padding-left:60px;
    }
    .sign-name {
        margin-top:60px;
    }
}


.slider-handle {
    background-image: linear-gradient(to bottom,#520203 0,#621213 100%);
}

.btn-file {
    position: relative;
    overflow: hidden;
}

    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: whitesmoke;
        cursor: inherit;
        display: block;
    }

h1, .h1 {
    font-size:61px;/*36 original*/
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-family:Britannic;
    text-transform:uppercase;
    color:#02AFB5;
    line-height:0.6;
    padding:10px 0px;
}

    h1 > small, h2 > small, h3 > small, h4 > small, h5 > small, h6 > small {
        color:#147179;
        font-size:38%;
    }
.navbar {
    border-radius:unset;
    margin:0;
}
.navbar-inverse {
    background-color:#02AFB5;
    border-color:#177179;
}
    .navbar-inverse .navbar-nav > li > a {
        color:whitesmoke;
        font-family:Arial;
        font-size:21px;
        font-weight:bold;
    }

.container-carousel {
    background-image:url('/Content/images/carousel.jpg');
    background-position-x:center;
    background-repeat:no-repeat;
    min-height:524px;
}

.author {
    color:whitesmoke;
    font-family:Rage;
    font-style:italic;
    font-size:100px;
}

.left-docked {
    transform:rotate(270deg);
    margin-left:-31px;
    margin-top:31px;
}

.row-single {
    margin-top: 30px;
    margin-bottom:30px;
}